<!doctype html>

<html>
  <meta charset="utf-8"> 
  <head>
    <title>CheckColors</title>  
    <link rel="shortcut icon" href="/static/images/rainbow.png"/>  
    <meta name="author" content="Iga Lewandowska">
    <link rel="stylesheet" href="/static/style.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.js"></script>
    <script type="text/javascript" src="/static/js.js"></script>
  </head>
  <body>
  	<p>
  		Cześć Iga :)
  	</p>
    <form method="post" action="http://example.com/">
        <div id="holder" style="" id="holder" class="holder_default">
          <img src="" id="image_droped" width="200" style="border: 3px dashed #7A97FC;" class=" hidden"/>
        </div>
      </form>
    
  </body>
  

</html>